<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dashu.dbtool.mapper.UserMapper">
    <resultMap id="UserMap" type="com.dashu.dbtool.model.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="email" column="email"/>
        <result property="createdAt" column="created_at"/>
        <result property="lastLoginAt" column="last_login_at"/>
    </resultMap>

    <sql id="BaseColumns">
        id, username, password, avatar_url, email, created_at, last_login_at
    </sql>
</mapper>
